<!DOCTYPE html>
<html lang="en">

<head>
	<title>Benjamin Suutari</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="{% static 'personal/img/ActionPotential.png' %}"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	
	<style type="text/css">
		html,
		body {
		  height:100%
		}
	</style>
</head>

<body class="body" style="background-color:#ffffff">
	<div class="container-fluid" style="min-height:95%; ">
		<div class="container-fluid">
			  <div class="col-sm-2">
				  <br>
				  <left>
					<img src="{% static 'personal/img/ActionPotential_Repfiring.png' %}" class="img-rounded" style='max-height:200px;' alt="face">
					<p><a href="mailto:ben.suutari@gmail.com" target="blank"><i class="fa fa-envelope fa-3x" aria-hidden="true" style="color:black"></i></a>          <a href="https://www.linkedin.com/in/benjamin-suutari-22a0262b/" target="blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true" style="color:black"></i></a>          <a href="https://github.com/moejamin" target="blank"><i class="fa fa-github fa-3x" aria-hidden="true" style="color:black"></i></a></p>
					<!-- <img src="{% static 'personal/img/penguin.jpg' %}" class="responsive-img" style='max-height:100px;' alt="face"> -->
				  </left>
			  </div>
			  <div class="col-sm-10">
				  <br>
				  <left>
				  <h1>Data:Universe:Brain</h1>
				  </left>
			  </div>
		</div><hr>
		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  <br>
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:#e5f6f4">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'><font size="+1"><b>Home</b></font></a></li>
				<li><a href='/blog/'><font size="+1"><b>Blog</b></font></a></li>
				<li><a href='/contact/'><font size="+1"><b>Contact</b></font></a></li>
				<li><a href='/contact/'><font size="+1"><b>Something</b></font></a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container-fluid'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>
	<footer>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="mailto:ben.suutari@gmail.com" target="blank"><i class="fa fa-envelope fa-3x" aria-hidden="true" style="color:black"></i></a>          <a href="https://www.linkedin.com/in/benjamin-suutari-22a0262b/" target="blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true" style="color:black"></i></a>          <a href="https://github.com/moejamin" target="blank"><i class="fa fa-github fa-3x" aria-hidden="true" style="color:black"></i></a></p>
		</div>
	</footer>	
	
</body>

</html>
