{% extends "personal/header.html" %}
{% load static %}
{% block content %}
<!-- <img src="{% static 'personal/img/suutari.jpg' %}" class="img-rounded" style='max-height:200px;' alt="face"> -->
<left>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>
v
<p>Ben Suutari</p>
<p>Ben Suutari</p>


<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>
<p>Ben Suutari</p>

<p>Ben Suutari</p>
<p>Ben Suutari</p>

</left>


{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
