{% extends "personal/header.html" %}
{% block content %}
<div class="container">
	<div class="col-md-20">
		<br>
		  <left>
		  	<h1><b>Blog</b></h1>
		  </left>
	</div>
</div><hr>
	{% for post in object_list %}
		<h1><a href="/blog/{{post.id}}">  {{ post.title }}</a><h1>		<h3>{{ post.date|date:"m/d/Y" }}</h3>
		<!--<h1><u>{{ post.title }}</u><h1>		<h3>{{ post.date|date:"m/d/Y" }}</h3> -->
		<p>{{ post.body|truncatewords:50 }}</p>
		<!--<p>{{post.body|safe|linebreaks}}</p>-->
		<!--
		<a href="https://twitter.com/share" class="..." data-url="http://reddit.com">
		<i class="fa fa-twitter"></i> Share on Twitter</i>
		</a>
		<br>
		<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://reddit.com&amp;title=Thisisatest&amp;source=http://reddit.com/" class="..." data-url="http://reddit.com">
		<i class="fa fa-linkedin"></i> Share on LinkedIn</i>
		</a>
		<br>
		<div class="fb-share-button" data-href="https://reddit.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Freddit.com%2F&amp;src=sdkpreparse">Share</a></div>
		-->
		
	{% endfor %}


{% endblock %}
